@font-face {
  font-family: "SignPainter";
  src: url('SignPainterHouseScriptRegular.ttf');
}

@font-face {
  font-family: "nunito";
  src: url("Nunito-Regular.ttf");
}

@font-face {
font-family:"piepie";
src: url("Strenuous3D.ttf");
}

body {
    background-color: #FFF1E6;
}

#wrap {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
}

h1 {
  font-family: "SignPainter";
  font-size: 90px;
  color : #174949;
}

h2 {
  font-family: "piepie", sans-serif;
  font-size: 45px;
  color: #174949;
}

h3 {
  font-family: "piepie", sans-serif;
  font-size: 30px;
}

p {
  font-family: "nunito";
  font-style:normal;
  font-size: 20px;
}

ul {
    font-family: "nunito";
    font-style:normal;
    font-size: 20px;
}

li {
  display : list-item;
  list-style-image : url("img/puce.svg");
}

a {
    font-family: "nunito";
    font-style:normal;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.active{
  background-color: #b7b7b7;
}

/*Barre de recherche*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #174949;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #174949;
}

.searchTerm:focus{
  color: #CE634E;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #174949;
  background: #174949;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.contenaire{
  width: 30%;
}

#header {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items:center;
}
    .job, .img, .hello {
      width: 33.33%;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
        .web {
          margin-bottom: -60px;
        }
        .name {
          font-family: "SignPainter";
          font-size: 40px;
        }
        .lieu {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .location {
          width: 20px;
          height: auto;
          margin-right: 15px;
          margin-top: -55px;
        }
        .lemans {
          margin-top: -55px;
        }

    .autoportrait {
      width: 320px;
      height: auto;
      padding: 5px;
    }

    .hello {
      text-align: justify;
    }
        .bonjour {
          text-align: center;
        }
        .book {
          background-image: url("img/forme.svg");
          background-repeat: no-repeat;
          height: 100px;
          text-align: center;
          margin-left: 30px;
          padding-top: 25px;
        }
        .book a {
          font-family: "piepie", sans-serif;
          font-size: 30px;
        }


#rectangle {
  background-color: #174949;
  height: 80px;
  color: #ffffff;
  display: flex;
  align-items:center;
  padding-left: 20px;
  padding-right: 20px;

}

    .mail, .tel, .age, .linkedin {
      width: 25%;
    }

    .mail a, .tel a, .age, .linkedin a {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

        .mail img {
          display: inline-block;
          vertical-align: middle;
        }

        .mail p {
          display: inline-block;
        }

        .icone {
          width: 55px;
          margin-right: 18px;
          transition: all .2s ease-in-out;
        }

            .icone:hover {
                    transform: scale(1.3);
            }

#bottom {
  display: flex;
  justify-content: center;
}
    #gauche {
      width: 45%;
      display: inline-block;
      padding: 2%;
    }
        .about {
            text-align: justify;
        }
            .logo img {
              width: 65%;
            }

    #droite {
      width: 45%;
      display: inline-block;
      padding: 2%;
    }
        .bigger {
          font-weight: bold;
          color: #CE634E;
        }

        .langue {
          list-style-type: none;
        }
