<!DOCTYPE html>
<html lang="fr" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>CV Camille Lego</title>
    <link href="./cv.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7a69607374.js"></script>
  </head>


  <body>

    <div id="wrap">

      <!--barre de recherche-->
      <div class="contenaire">
         <div class="search">
            <input v-model="searchString" type="text" class="searchTerm" placeholder="Rechercher une formation...">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </div>
      </div>

      <div id="header">

          <div class="job">
            <h1 class="web">Web</h1>
            <h2>DESIGNER</h2>
            <p class="name">Camille Lego</p>

            <div class="lieu">
                <div class="location">
                <img src="img/location.svg" alt="icône location">
                </div>

                <div class="lemans">
                <p>Le Mans</p>
                </div>

            </div>

          </div>

          <div class="img">
            <img class="autoportrait" src="img/Autoportrait_1.png" alt="illustration autoportrait">
          </div>

          <div class="hello">
            <h2 class="bonjour">Bonjour !</h2>
            <p class="alternance">Je recherche une agence de com' afin d’effectuer mon <b>Mastère Web Design</b> en alternance.
            </p>

            <div class="book">
              <a href="https://camille-lego.fr/" target="_blank">Ici mon book</a>
            </div>
          </div>
        </div>


      <div id="rectangle">

          <div class="mail">
            <a href="mailto:camille.lego@outlook.com">
            <img class="icone" src="img/mail.svg" alt="icône mail">
            <p>camille.lego@outlook.com</p>
            </a>
          </div>

          <div class="tel">
            <a href="tel:+33615304386">
            <img class="icone" src="img/tel.svg" alt="icône tel">
            <p>06 15 30 43 86</p>
            </a>
          </div>

          <div class="age">
            <img class="icone" src="img/gâteau.svg" alt="icône age">
            <p>21 ans</p>
          </div>

          <div class="linkedin">
            <a href="https://www.linkedin.com/in/camille-lego-232a01183/" target="_blank">
            <img class="icone" src="img/linkedin.svg" alt="icône linkedin">
            <p>Camille Lego</p>
            </a>
          </div>

      </div>

      <div id="bottom">

        <div id="gauche">

          <div class="about">
            <h3>Qui suis-je ?</h3>
            <p>
              <strong>Créative, curieuse</strong> et <strong>déterminée</strong>,
              j’apprécie tout particulièrement le design et les nouvelles technologies. <strong>Polyvalente</strong>,
              je peux créer une maquette et l’intégrer sur WordPress tout en veillant
              au  référencement naturel. Je peux également réaliser des designs sur
              différents supports, comme le print et le digital et faire de la gestion de réseaux sociaux.
            </p>
          </div>


          <div class="skill">
            <h3>Mes compétences</h3>
            <ul>
              <li v-for="competence in competences">{{ competence.titre }}</li>
            </ul>
          </div>

          <div class="tools">
            <h3>Mes petits outils</h3>
          </div>

          <div class="logo">
            <img src="img/logo_2.png" alt="logo">
          </div>

        </div>


        <div id="droite">
          <div class="school">
            <h3>Formations & diplômes</h3>

            <ul>
              <li v-for="formation in formations" :class="formation.titre == searchString ? 'active' : '' ">
                <span class="bigger">{{ formation.periode }} : </span> <b>{{ formation.titre }}</b> <br>
                {{ formation.lieu }}
              </li>
            </ul>
          </div>

          <div class="experiences">
            <h3>Expériences professionnelles</h3>
              <p v-for="experience in experiences">
                <span class="bigger">{{ experience.titre }}</span>
                <br>
              {{ experience.lieu }} | <b>{{ experience.periode }}</b>
              <br>
            {{ experience.mission }}
            </p>
        </div>

        <div class="langue">
        <h3>Langues parlées</h3>
          <ul>
            <li v-for="langue in langues"><span class="bigger">{{ langue.titre }} :</span> {{ langue.niveau }}</li>
        </div>

      </div>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script>
  var cv = new Vue({
    el: '#wrap',
      data: {
        searchString: "",
        formations: [
          { titre: 'Bachelor WebDesign', lieu: 'École MyDigitalSchool Nantes (44)', periode: '2020-2021' },
          { titre: 'DUT Techniques de commercialisation', lieu: 'IUT Angers (49)', periode: '2018-2020' },
          { titre: 'BAC Scientifique - anglais renforcé', lieu: 'Lycée Gabriel Touchard Le Mans (72)', periode: '2015-2018' }
        ],
      competences: [
        { titre: 'Stratégie de communication' },
        { titre: 'Étude de marché' },
        { titre: 'PAO' },
        { titre: 'UI design' },
        { titre: 'Maquettage' },
        { titre: 'Community Management' },
        { titre: 'SEO' }
      ],
      experiences: [
        { titre: 'Chargée de communication en alternance', lieu: 'FD communication Le Mans', periode: 'depuis septembre 2020', mission: 'WebDesign, Community Management, rédaction web, SEO' },
        { titre: 'Stagiaire assistante marketing', lieu: 'FIMOR Electronics, Le Mans', periode: 'avril à juin 2019', mission: 'Service ADV. Analyse commerciale & portefeuille client' }
      ],
      langues: [
        { titre: 'Anglais', niveau: 'Niveau B2' },
        { titre: 'Espagnol', niveau: 'Niveau B1' },
        { titre: 'HTML & CSS', niveau: 'Niveau avancé' },
        { titre: 'JavaScript & PHP', niveau: 'Niveau Débutante' },
      ]
    }

  })

  </script>

  </body>

</html>
